extends index

block append head
		link(rel='stylesheet', href='vendors/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='vendors/font-awesome/css/font-awesome.min.css')
		link(rel='stylesheet', href='vendors/iCheck/skins/flat/green.css')
		link(rel='stylesheet', href='vendors/google-code-prettify/bin/prettify.min.css')
		link(rel='stylesheet', href='vendors/select2/dist/css/select2.min.css')
		link(rel='stylesheet', href='vendors/switchery/dist/switchery.min.css')
		link(rel='stylesheet', href='vendors/starrr/dist/starrr.css')
		link(rel='stylesheet', href='build/css/custom.min.css')