extends ceeseese.pug
block titulo
	title Botillerias
block topnav
	div.top_nav
		div.nav_menu
			nav(role='navigation')
				div.nav.toggle
					a(id='menu_toggle')
						i.fa.fa-bars
				ul.nav.navbar-nav.navbar-right
					li
						a(href='javascript:;', class='user-profile dropdown-toggle' data-toggle='dropdown' aria-expanded='false')
							img(src='https://scontent.fscl2-1.fna.fbcdn.net/t31.0-8/11260888_10207153183405275_7221942946935303213_o.jpg')
							span cynthia
							span.fa.fa-angle-down
						ul.dropdown-menu.dropdown-usermenu.pull-right
							li
								a(href='/logout')
									i.fa.fa-sign-out.pull-right Log Out
		   
block contenido
	div(class='right_col' role='main')
		div
			div.page-title
				div.title_left
					h3 Botillerias Cercanas
			div.clearfix
			div.row
				div.col-md-12
					div.x_panel
						div.x_content
							section#web-application
								h2.page-header Mapa
								div.row
									div#map
						
