extends ceeseese.pug
block titulo
	title Login
block topnav
	div.top_nav
		div.nav_menu
			nav(role='navigation')
				div.nav.toggle
					a(id='menu_toggle')
						i.fa.fa-bars
				ul.nav.navbar-nav.navbar-right
					li
						a(href='javascript:;', class='user-profile dropdown-toggle' data-toggle='dropdown' aria-expanded='false')
							img(src='https://scontent.fscl2-1.fna.fbcdn.net/t31.0-8/11260888_10207153183405275_7221942946935303213_o.jpg')
							span cynthia
							span.fa.fa-angle-down
						ul.dropdown-menu.dropdown-usermenu.pull-right
							li
								a(href='/logout')
									i.fa.fa-sign-out.pull-right Log Out
		   
block contenido
	div(class='right_col' role='main')
		div
			div.page-title
				div.title_left
					h3 Sobre Nosotros
			div.clearfix
			div.row
				div.col-md-12
					div.x_panel
						div.x_content
							div.row
								div.col-md-6.col-sm-6.col-xs-12.float-none
									div.x_panel.perfil
										div.x_title
											h2 Cynthia Flores
											div.clearfix
										div.x_content
											div(class='bs-example' data-example-id='simple-jumbotron')
												div.jumbotron
													div.minifoto.col-md-12
														img(src='/images/equipo/cynthia.png')
													p @scriptandme 
													p Programo por comida
								div.col-md-6.col-sm-6.col-xs-12.float-none
									div.x_panel.perfil
										div.x_title
											h2 Pablo Martinez
											div.clearfix
										div.x_content
											div(class='bs-example' data-example-id='simple-jumbotron')
												div.jumbotron
													div.minifoto.col-md-12
														img(src='/images/equipo/pablo.png')
													p @peleaApunietazo
													p A veces me las doy de programador
								div.col-md-6.col-sm-6.col-xs-12.float-none
									div.x_panel.perfil
										div.x_title
											h2 Cristopher Fuentealba
											div.clearfix
										div.x_content
											div(class='bs-example' data-example-id='simple-jumbotron')
												div.jumbotron
													div.minifoto.col-md-12
														img(src='/images/equipo/feldyr.png')
													p @feldyr
													p Hago monitos como este
